.panel { 
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.panel-summary { top: 20%; left: 50% }
.panel-story { top: 80%; left: 50% }
.panel-timer { top: 20%; left: 50% }
.panel-results {top: 5%; left: 80%}

.button {
        position: absolute; 
        bottom: 80%;
        left: 20%; 
        transform: translateX(-50%);
        font-size: 24px;
}

.button-start { bottom: 50%; left: 50%; font-size: 32px; }
.button-reset { bottom: 20%; left: 80%; }
.button-progress {bottom: 80%; left: 20%; }

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.overlay-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}